@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/500.css";
@import "@fontsource/jetbrains-mono/700.css";
@import "@fontsource/space-grotesk/400.css";
@import "@fontsource/space-grotesk/500.css";
@import "@fontsource/space-grotesk/700.css";

@layer button-reset, theme, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "./app/styles/public.css";

@layer button-reset {
  button {
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
  }
}
